{% extends 'global/base.html' %}

{% block title %}The Travel Ideas{% endblock %}


<div>
    {% block content %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-6 d-flex mt-5"> 
                    <div class="post-image col-md-4">
                        {% if post.featured_image %}
                        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                    <div>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.main_description|truncatewords:30 }}</p>
                        <a href="{% url 'post-detail' post.slug %}" class="read-more">Read more...</a>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}
                    {% include "global/partials/index_partials/_pagination.html" %}
                {% endif %}
            </div>

        </div>
        
    </div>
    {% endblock %}

</div>